<div class="jumbotron" style="text-align: center;">
    <h1 class="display-3">Survey Outro Page</h1>
</div>
<div>
    <p class="lead" style="margin-left: 15px;">Thank you for taking CEROC’s Cyber Security Risk Assesment survey! Your survey has been saved and submitted. You will get 
        an email when one of our risk assesment teams starts reviewing it, as well as whenever the review has been completed and you can view 
        your results.
    </p>
    <hr class="my-4">
    <br>
    <p class="lead" style="text-align: center;">
        <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/user-home" routerLinkActive="active">Click here to return home</a>
    </p>
</div>
