<h1 style="text-align: center;">Account Management</h1>
<br>
<body>
    <div class="container">
        <main>
            <form [formGroup]="accMgmtForm" (ngSubmit)="onSubmit()">
                <fieldset>
                    <div *ngFor="let question of questions; index as i; count as c;">
                        <label class="form-label mt-4">{{i+1}}. {{questions[i].question}}</label>
                        <textarea class="form-control" formControlName="answer{{i+1}}" rows="3" placeholder="text..."></textarea>
                    </div>
                </fieldset>
                <br>
                <nav aria-label="Page navigation example" style="text-align: center;">
                    <ul class="pagination">
                      <li class="page-item">
                          <button type="submit" class="btn btn-secondary" (click)="onPreviousClick()">Previous</button>
                        </li>
                      <p style="font-size: 15px; padding: 5px;"> Page 1 of 12 </p>  
                      <li class="page-item">
                          <button type="submit" class ="btn btn-secondary" (click)="onNextClick()">Next</button>
                        </li>
                    </ul>
                </nav>
                <br>
            </form>
        </main>
    </div>
</body>
