<div class="h1" style="text-align: center;">Admin Dashboard</div>
<br />
<br />
<div class="container" style="width:800px; margin: 0 auto;">
	<div class="row">
        <div class = "col-lg-6">
            <div class="card border-secondary mb-3" style="max-width: 30rem;">
                <div class="card-body">
                <h4 class="card-title">Create Survey</h4>
                <p class="card-text">Create a new audit survey from scratch.</p>
                <a href="/admin/create-survey" ><button type="button" class="btn btn-primary">Create Survey</button></a>
                </div>
            </div>
        </div>
        <div class = "col-lg-6">
            <div class="card border-secondary mb-3" style="max-width: 30rem;">
                <div class="card-body">
                <h4 class="card-title">Edit Survey</h4>
                <p class="card-text">Edit the questions in an existing survey.</p>
                <a href="/admin/edit-survey"><button type="button" class="btn btn-primary">Edit Survey</button></a>
                </div>
            </div>
        </div>
        <div class = "col-lg-6">
            <div class="card border-secondary mb-3" style="max-width: 30rem;">
                <div class="card-body">
                <h4 class="card-title">Survey Reponse</h4>
                <p class="card-text">Review client survey and give response.</p>
                <a href="/admin/respond-survey"><button type="button" class="btn btn-primary">Survey Response</button></a>
                </div>
            </div>
        </div>
        <div class = "col-lg-6">
            <div class="card border-secondary mb-3" style="max-width: 30rem;">
                <div class="card-body">
                <h4 class="card-title">User Management</h4>
                <p class="card-text">Manage all the users that exist on the site</p>
                <a href="/admin/user-mgmt"><button type="button" class="btn btn-primary">Manage User</button></a>
                </div>
            </div>
        </div>
    </div><!-- /.row -->
    <br />
</div>



