<div class="jumbotron" style="text-align: center;">
    <h1 class="display-3">Cyber Security Risk Assesment</h1>
</div>
<div>
    <p style="margin-left: 15px;">The Cybersecurity Education, Research, and Outreach Center (CEROC) at Tennessee Tech provides cybersecurity risk assessment services for
         regional and statewide, small to medium-sized manufacturing companies. <br> <u>Through this program, CEROC seeks to:</u>
    </p>

    <div class="float-start" style="margin-right: 15px;">
        <img src="assets/img/risk_assesment_funnel.png" class="img-fluid" alt="...">
    </div>

    <ul class="pl-4">
        <li><strong>Provide a cybersecurity risk assessment for stakeholders</strong> of small to middle-sized manufacturers identifying opportunities for improvement of their cybersecurity position.</li>
        <li><strong>Help organizations understand their security posture</strong> based upon client request.</li>
        <li><strong>Provide recommendations to aid in improvement</strong> of organizational security posture.</li>
        <li><strong>Increase overall regional and statewide awareness of cybersecurity issues</strong> addressable through common-sense solutions.</li>
        <li><strong>Cybersecurity training techniques and solutions</strong> using feedback from industry.</li>
    </ul>

    <div class="float-end">
        <img src="assets/img/nist_framework_circle.png" class="img-fluid" alt="...">
    </div>

    <p style="margin-left: 15px;">The Cybersecurity Risk Assessment is based upon the <u>NIST Cybersecurity Framework</u> via the key areas of Identify, Protect, Detect, Respond, 
        and Recover. Our assessment uses a summarized set of these areas customizing the experience for the specific needs of small to medium-sized 
        businesses.
    </p>

    <p style="margin-left: 15px;"><u>Assessment convenience and flexibility</u> is an important component of our work assuring that we provide our client with a quality experience, 
        which is respectful of challenging schedules. This is accomplished by focusing on areas of most concern to our clients while utilizing online data 
        collection to conserve client time investment. Our risk assessment teams are a unique mix of undergraduate and graduate cybersecurity students 
        with a passion for the field led by an information technology/cybersecurity professional.
    </p>

    <p style="margin-left: 15px;">Questions regarding the cybersecurity risk assessment reviews can be directed to Eric L. Brown (<u>elbrown@tntech.edu</u> / 931-372-3519).
    </p>

 </div>
