<div class="jumbotron" style="text-align: center;">
    <h1 class="display-3">Survey Intro Page</h1>
</div>
<div>
    <p class="lead" style="margin-left: 15px;">Welcome to the Cyber Security Risk Assesment survey! To start taking the survey, simply click the start button. 
        This assessment is divided up into many categories, each of which will have a series of questions. Once you have answered 
        all the questions in a category, click the next button to move on. Your survey will only be saved when you click the submit 
        button after answering the questions in the final category.
    </p>
    <hr class="my-4">
    <br>
    <p class="lead" style="text-align: center;">
        <button type="submit" class ="btn btn-primary btn-lg" (click)="onClick()">Click here to start your survey!</button>
    </p>
</div>