
<footer class="bg-dark text-white footer relative-bottom" style="position: relative; bottom: 0; width:100%; height: 2.5;">
    <div class="container text-center p-4 pb-0">
      <!--Social media-->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/TNTechCEROC" role="button"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/TNTechCEROC" role="button"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/tntechceroc/" role="button"><i class="fab fa-instagram"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/company/tntechceroc/" role="button"><i class="fab fa-linkedin-in"></i></a>
      </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.5);">
      <p>TNTECH</p>
    </div>
</footer>
